target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/.idea/.gitignore
/.idea/coding-dojos.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/artifacts/JpaSample_war_exploded.xml
/.idea/artifacts/JpaSample_war.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_2_1_0.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_2_1_1.xml
/.idea/libraries/Maven__jakarta_authentication_jakarta_authentication_api_3_0_0.xml
/.idea/libraries/Maven__jakarta_authorization_jakarta_authorization_api_2_1_0.xml
/.idea/libraries/Maven__jakarta_batch_jakarta_batch_api_2_1_1.xml
/.idea/libraries/Maven__jakarta_ejb_jakarta_ejb_api_4_0_1.xml
/.idea/libraries/Maven__jakarta_el_jakarta_el_api_5_0_1.xml
/.idea/libraries/Maven__jakarta_enterprise_jakarta_enterprise_cdi_api_4_0_1.xml
/.idea/libraries/Maven__jakarta_enterprise_jakarta_enterprise_lang_model_4_0_1.xml
/.idea/libraries/Maven__jakarta_faces_jakarta_faces_api_4_0_1.xml
/.idea/libraries/Maven__jakarta_inject_jakarta_inject_api_2_0_1.xml
/.idea/libraries/Maven__jakarta_interceptor_jakarta_interceptor_api_2_1_0.xml
/.idea/libraries/Maven__jakarta_jms_jakarta_jms_api_3_1_0.xml
/.idea/libraries/Maven__jakarta_json_bind_jakarta_json_bind_api_3_0_0.xml
/.idea/libraries/Maven__jakarta_json_jakarta_json_api_2_1_0.xml
/.idea/libraries/Maven__jakarta_mail_jakarta_mail_api_2_1_0.xml
/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_3_1_0.xml
/.idea/libraries/Maven__jakarta_platform_jakarta_jakartaee_api_10_0_0.xml
/.idea/libraries/Maven__jakarta_platform_jakarta_jakartaee_web_api_10_0_0.xml
/.idea/libraries/Maven__jakarta_resource_jakarta_resource_api_2_1_0.xml
/.idea/libraries/Maven__jakarta_security_enterprise_jakarta_security_enterprise_api_3_0_0.xml
/.idea/libraries/Maven__jakarta_servlet_jakarta_servlet_api_6_0_0.xml
/.idea/libraries/Maven__jakarta_servlet_jsp_jakarta_servlet_jsp_api_3_1_0.xml
/.idea/libraries/Maven__jakarta_servlet_jsp_jstl_jakarta_servlet_jsp_jstl_api_3_0_0.xml
/.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_2_0_1.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_3_0_2.xml
/.idea/libraries/Maven__jakarta_websocket_jakarta_websocket_api_2_1_0.xml
/.idea/libraries/Maven__jakarta_websocket_jakarta_websocket_client_api_2_1_0.xml
/.idea/libraries/Maven__jakarta_ws_rs_jakarta_ws_rs_api_3_1_0.xml
/JpaSample/JpaSample.iml
/JpaSample/.idea/.gitignore
/JpaSample/.idea/compiler.xml
/JpaSample/.idea/encodings.xml
/JpaSample/.idea/jarRepositories.xml
/JpaSample/.idea/jpa-buddy.xml
/JpaSample/.idea/misc.xml
/JpaSample/.idea/vcs.xml
